/********    colores clases   ************/
:root {
    --dark: #1E212A;
    --dark-x: #2C2D30;
    --dark-xx: #5A626B;
    --light: #ffffff;
    --Light-x: #fdfdfd;
    --primary: #0FA8EC;
    --primary-x: #21C4E1;
    --gray-x: #909194;
    --grary-line: #DEDEDE;
    --Gray-Button: #ececea;
    --Bk_Generic: #f5f5f5;
    --BK-Footer: #E2E2E2;
 }
 
 * 
 {  vertical-align: baseline;
     font-weight: inherit;
     font-family: inherit;
     font-style: inherit;
     font-size: 100%;
     border: 0 none;
     outline: 0;
     padding: 0;
     margin: 0; 
 }
 
 ul {
     padding: 0;
     margin: 0;
     list-style-type: none!important; 
 }
 a {
     text-decoration: none!important;
     text-decoration-style: none!important;
 }
 body {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    color: var(--dark-x);
    background-color: var(--Bk_Generic);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   /*  font-size: 1rem;
    font-weight: 300!important; */
 }

/**************** GENERAL *****************/

.Hr { margin: 4px 0; border: 0.7px solid #dedede; }
.Hr2 { border: 0.3px solid #dedede; }
.Hr3 { border: 0.4px solid #d3d3d3; margin-top: 20px; margin-bottom: 5px; }
.Hr4 { border: 0.4px solid #e8e8e8; margin-top: 10px; margin-bottom: 10px; }
.Hr5 { border-bottom: 0.001px solid #bababa; margin-top: 12px; margin-bottom: 12px; }
.Hr6 { border-bottom: 0.001px solid #bababa; margin: 4px 0; }


.Br-Header_Clear { height: 17vh; }
.Br-xl { height: 10vh; }
.Br-lg { height: 8vh;  }
.Br-md { height: 6vh;  }
.Br-sm { height: 4vh;  }
.Br-xs { height: 2vh;  }
.Br-xxs { height: 1.3vh;  }

.FullWidth  { width : 100%; }
.FullHeight { height: 100%; }
.FullSize   { width : 100%; height: 100%; }

.FullScreen { width: auto; height: 100vh; }

.Bk-Cover { background-size: cover; }
.Bk-Contain { background-position: center center; background-repeat: no-repeat; background-size: contain; }
.Bk-Fixed   { background-position: center top; background-repeat: no-repeat; background-attachment: fixed; }

.PositionRelative { position: relative !important; }

/************* Clases Basicas de Margenes *************/

.MarginLeft { margin-left: 10px; }
.MarginRight { margin-right: 10px; }
.MarginRight-Button { margin-right: 40px !important; }
.MarginGeneral { margin: 5px 10px;}


/************** Fuentes Tamaños **************/

.FontsSize-xxs { font-size: 10px !important;}
.FontsSize-xs { font-size: 11px !important;}
.FontsSize-Min { font-size: 12px !important;}
.FontsSize-Md { font-size: 13px !important;}
.FontsSize-Re { font-size: 14px !important;}
.FontSize-Med { font-size: 15px!important;}
.FontsSize-Title { font-size: 16px!important;}
.FontsSize-Standar { font-size: 18px!important;}
.FontsSize-Medium { font-size: 19px!important;}
.FontsSize-md-pa { font-size: 22px!important;}
.FontsSize-23 { font-size: 23px!important;}
.FontsSize-24 { font-size: 24px!important;}
.FontsSize-lg { font-size: 30px!important;}
.FontsSize-LG { font-size: 45px!important;}

/**************** Letter Spacing ****************/

.LetterSpacing_N {letter-spacing: normal;}
.L-S-3 {letter-spacing: 1px;}
.L-S-2 {letter-spacing: 0.5px;}
.L-S-1 {letter-spacing: 0.25px;}
.LineHeight-Initial {line-height: initial; }
.L-H-1 {line-height: 1; }

/**************** Estilos grid ****************/
.Display-Grid  { display: grid!important; }
.CursorPointer { cursor: pointer; }

/**************** Estilos Fuentes ****************/

.X-Light { font-weight: 200; }
.Light {font-weight: 300; }
.Regular {font-weight: 400;}
.Medium { font-weight: 500;}
.Semibold { font-weight: 600;}
.Bold { font-weight:700;}
.Extra-Bold { font-weight:800;}
.Black { font-weight:900;}
.LightItalic {font-style: italic;}


/* -------------------- Codigo detalaldo del Proyecto ------------- */

.Header-Dinamic {
    position: fixed!important;
    top: 0!important;
    overflow: hidden!important;
    width: 100%!important;
    z-index: 3;
}

.Btn-mas_Productos { 
    border: 2px solid var(--gray-x);
    padding: 0.75rem 0;
    background: var(--light);
 }

.Btn-Filters-sm { 
    border: 1px solid var(--grary-line);
    padding: 0.75rem 0;
    background: var(--light);
 }
 .Btn-Filters-sm.active       { border-bottom: 3px solid var(--dark-xx); }

 .Btn-a                       { color: var(--dark-x); }
 .Btn-a:hover, .Btn-a:focus   { color: var(--dark-xx); }
 .Btn-Reset {
    padding: 0.5rem 0.5rem;
    border: 0;
    border-radius: 0rem;
 }

.Border-Left     { border-left: 2px solid var(--dark-x)!important; }
.Border-Bottom   { border-bottom: 2px solid; border-image: linear-gradient(45deg, var(--primary), var(--grary-line)); border-image-slice: 1;}
.Border-R-0        { border-radius: 0 !important;}

.ColorDark     { color: var(--dark); }
.ColorDark-x   { color: var(--dark-x); }
.ColorDark-xx  { color: var(--dark-xx); }
.ColorGray-x   { color: var(--gray-x); }
.ColorPrimary  { color: var(--primary); }

.IconHeader        { color: var(--dark-xx); }
.IconHeader:hover  { color: var(--dark-x); }

.Box_Shadow  { box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12) !important;}

.BK_Color_Light     { background-color: var(--light)!important;}
.BK_Color_Primary   { background-color: var(--primary)!important;}
.BK-Gray-Btn        { background: var(--Gray-Button); }
.BK-Footer          { background: var(--BK-Footer); }
.BK-Color-x         { background-color: var(--Light-x)!important;}

.NavBar {
    height: 4.5rem;  }

.BranchLogo { height: 40px; }
.StirpeImg { height: 17px; } 

.Badge-Bag {
    color: #fff;
    background-color: var(--primary);
    font-size: 13px;
    vertical-align: super;
    border-radius: 50%;
    padding: .25em .45em;
}



/* ********  iconos  ****** */

.fa-shopping-bag:before {
    content: "\f290";
}
.fa-filter:before {
    content: "\f0b0";
    font-size: 19px;
}
.fa-whatsapp:before {
    content: "\f232";
    font-size: 19px;
}

.Pop {
    display: flex;
    flex-direction: column;
    z-index: 300;
}
.Pop-Bottom-r { 
    position: fixed;
    right: 12px;
    bottom: 63px;
    align-items: flex-end;
}

.Button-Whatsapp {
    height: 40px;
    width: 50px;
    position: relative;

    animation-name: WhatsappAnimado;
    animation-duration: 5s;
    animation-timing-function: ease-in-out; 
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes WhatsappAnimado {
    0%     { transform: scale(1);}
    55%     { transform: scale(1);}
    65%     { transform: scale(0.9);}
    77%     { transform: scale(1.1);}
    87%     { transform: scale(0.9);}
    100%   { transform: scale(1); } 
}

.Pop-Pointer-Select { 
    position: absolute;
    left: 200px;
    top: 87px;
    align-items: flex-end;
}

.Pointer-Select {
    height:40px;
    width: 40px;
    position: relative;

    animation-name: PointerAnimado;
    animation-duration: 5s;
    animation-timing-function: ease-in-out; 
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes PointerAnimado {
    0%     { transform: scale(1); opacity: 0.5;}
    55%     { transform: scale(1);}
    65%     { transform: scale(0.95);}
    77%     { transform: scale(1.05);}
    87%     { transform: scale(0.95);}
    100%   { transform: scale(1); } 
}

/* ************ */


.Card-Producto {
    border: none;
    border-radius: 0rem!important;
    box-shadow: 0 0 4px #00000015;
}
.Card-Footer {
    padding: 0rem;
    background: none;
    border: none;
    border-radius: 0rem;
}

/* .Card-Img { flex-shrink: 0; width: 100%; border-top-left-radius: 0rem !important; border-top-right-radius: 0rem !important; } */



/* Trabajo con medias Querys */

@media only screen and (max-width: 600px) {

.Outfits-List .Coles {
    padding-left: 5px;
    padding-right:5px;
    }
}

@media only screen and (min-width: 768px) {

    section .LoadMoreAssets {
        width: 30% !important;
        justify-content: center;
        }

    section .LoadMoreBorder  {
        width: 20% !important;
        justify-content: center;
        }
    }

@media only screen and (min-width: 1400px) {
    .Br-xl-None {
        display: none!important;
    }
}
    