/********    colores clases   ************/
:root {
    --dark: #1E212A;
    --dark-x: #2C2D30;
    --dark-xx: #5A626B;
    --light: #ffffff;
    --Light-x: #fdfdfd;
    --primary: #0FA8EC;
    --primary-x: #21C4E1;
    --gray-x: #909194;
    --gray-line: #DEDEDE;
    --Gray-Button: #ececea;
    --Bk_Generic: #f5f5f5;
    --BK-Footer: #E2E2E2;
 }
 
 * 
 {  vertical-align: baseline;
     font-weight: inherit;
     font-family: inherit;
     font-style: inherit;
     font-size: 100%;
     border: 0 none;
     outline: 0;
     padding: 0;
     margin: 0; 
 }
 
 ul {
     padding: 0;
     margin: 0;
     list-style-type: none!important; 
 }
 a {
     text-decoration: none!important;
     text-decoration-style: none!important;
 }
 body {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    color: var(--dark-x);
    background-color: var(--Bk_Generic);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   /*  font-size: 1rem;
    font-weight: 300!important; */
 }

/**************** GENERAL *****************/

.Hr { margin: 4px 0; border: 0.7px solid #dedede; }
.Hr2 { border: 0.3px solid #dedede; }
.Hr3 { border: 0.4px solid #d3d3d3; margin-top: 20px; margin-bottom: 5px; }
.Hr4 { border: 0.4px solid #e8e8e8; margin-top: 10px; margin-bottom: 10px; }
.Hr5 { border-bottom: 0.001px solid #bababa; margin-top: 12px; margin-bottom: 12px; }
.Hr6 { border-bottom: 0.001px solid #bababa; margin: 4px 0; }


.Br-Header_Clear { height: 17vh; }
.Br-xl { height: 10vh; }
.Br-lg { height: 8vh;  }
.Br-md { height: 6vh;  }
.Br-sm { height: 4vh;  }
.Br-xs { height: 2vh;  }
.Br-xxs { height: 1.3vh;  }

.FullWidth            { width : 100%; }
.FullHeight           { height: 100%; }
.FullSize             { width : 100%; height: 100%; }
.HeightBodyModal      { height: calc(100vh - 50px); }
.HeightScrollFilter   { height: calc(100vh - 273px); }
.W-48                 { width:  48%;}
.W-15                 { width:  15%;}

.FullScreen { width: auto; height: 100vh; }

.Bk-Cover { background-size: cover; }
.Bk-Contain { background-position: center center; background-repeat: no-repeat; background-size: contain; }
.Bk-Fixed   { background-position: center top; background-repeat: no-repeat; background-attachment: fixed; }

.PositionRelative { position: relative !important; }

.Display-None { display: none!important;}

.OverflowScroll   { overflow: scroll;}
.Overflow-Hidden   { overflow: hidden!important;}
.Overflow-Auto   { overflow: auto!important;}

/************* Clases Basicas de Margenes *************/

.MarginLeft { margin-left: 10px; }
.MarginRight { margin-right: 10px; }
.MarginRight-Button { margin-right: 40px !important; }
.MarginGeneral { margin: 5px 10px;}
.Margin-Check-Content { margin-left: 45%!important; margin-right: 50%!important; }


/************* Fuentes Tamaños *************/

.FontsSize-xxs { font-size: 10px !important;}
.FontsSize-xs { font-size: 11px !important;}
.FontsSize-Min { font-size: 12px !important;}
.FontsSize-Md { font-size: 13px !important;}
.FontsSize-Re { font-size: 14px !important;}
.FontSize-Med { font-size: 15px!important;}
.FontsSize-Title { font-size: 16px!important;}
.FontsSize-Standar { font-size: 18px!important;}
.FontsSize-Medium { font-size: 19px!important;}
.FontsSize-md-pa { font-size: 22px!important;}
.FontsSize-23 { font-size: 23px!important;}
.FontsSize-24 { font-size: 24px!important;}
.FontsSize-lg { font-size: 30px!important;}
.FontsSize-45 { font-size: 45px!important;}

/***************  Letter Spacing  ***************/

.LetterSpacing_N {letter-spacing: normal;}
.L-S-3 {letter-spacing: 1px;}
.L-S-2 {letter-spacing: 0.5px;}
.L-S-1 {letter-spacing: 0.25px;}
.LineHeight-Initial {line-height: initial; }
.L-H-1 {line-height: 1; }
.L-H-2 {line-height: 1.2; }
.L-H-3 {line-height: 1.3; }
.L-H-4 {line-height: 1.4; }


/**************** Estilos grid ****************/
.Display-Grid  { display: grid!important; }
.CursorPointer { cursor: pointer; }

/**************** Estilos Fuentes ****************/

.X-Light { font-weight: 200; }
.Light {font-weight: 300; }
.Regular {font-weight: 400;}
.Medium { font-weight: 500;}
.Semibold { font-weight: 600;}
.Bold { font-weight:700;}
.Extra-Bold { font-weight:800;}
.Black { font-weight:900;}
.LightItalic {font-style: italic;}


/* -------------------- Codigo detallado del Proyecto ------------- */

.Header-Dinamic {
    position: fixed!important;
    top: 0!important;
    overflow: hidden!important;
    width: 100%!important;
    z-index: 3;
}

.Btn-mas_Productos { 
    border: 2px solid var(--gray-x);
    padding: 0.75rem 0;
    background: var(--light);
 }

.Btn-Filters-sm { 
    border: 1px solid var(--gray-line);
    padding: 0.75rem 0;
    background: var(--light);
 }
 .Btn-Filters-sm.active       { border-bottom: 3px solid var(--dark-xx); }

 .Btn-a-Light                 { color: var(--Light-x)!important; }
 .Btn-a-Light:hover, .Btn-a-Light:focus { color: var(--gray-line)!important; }
 .Btn-a                       { color: var(--dark-x); }
 .Btn-a:hover, .Btn-a:focus   { color: var(--dark-xx); }
 .Btn-Reset {
    padding: 0.6rem 0.5rem;
    border: 0;
    border-radius: 0rem;
 }
 .Btn-P { color: var(--primary);}
 .Btn-P:hover, .Btn-P:focus   { color: var(--primary-x); }

.Border-Left     { border-left: 2px solid var(--dark-x)!important; }
.Border-Bottom   { border-bottom: 2px solid; border-image: linear-gradient(45deg, var(--primary), var(--gray-line)); border-image-slice: 1;}
.Border-B-Gray   { border-bottom: 1px solid; color: var(--gray-line);}
.Border-R-0        { border-radius: 0 !important;}

.ColorDark     { color: var(--dark); }
.ColorDark-x   { color: var(--dark-x); }
.ColorDark-xx  { color: var(--dark-xx); }
.ColorGray-x   { color: var(--gray-x); }
.ColorPrimary  { color: var(--primary); }
.Color-Light   { color: var(--light);}

.IconHeader        { color: var(--dark-xx); }
.IconHeader:hover  { color: var(--dark-x); }

.Box_Shadow  { box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12) !important;}

.BK_Color_Light     { background-color: var(--light)!important; }
.BK_Color_Primary   { background-color: var(--primary)!important; }
.BK_Color_Derek     { background-color: var(--primary-x)!important; }
.BK-Gray-Btn        { background: var(--Gray-Button); }
.BK-Footer          { background: var(--BK-Footer); }
.BK-Color-x         { background-color: var(--Light-x)!important; }
.BK-Color-Dark      { background-color: var(--dark-x); }
.BK-Generic         { background: var(--Bk_Generic);}


.NavBar {
    height: 4.5rem;  }

.BranchLogo { height: 40px; }
.StirpeImg { height: 17px; } 

.Badge-Bag {
    color: #fff;
    background-color: var(--primary);
    font-size: 13px;
    vertical-align: super;
    border-radius: 50%;
    padding: .25em .45em;
}

/* ********  iconos  ****** */



/* Close Ventana Sidebar Icon */
.i-amphtml-sidebar-mask {
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100vh!important;
    background-color: rgba(0, 0, 0, 0.705);
    animation-name: i-amphtml-sidebar-mask-fade-out;
    z-index: 2147483646;
    background-image: url("../img/times-solid.png")!important;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: initial;
    cursor: pointer;
}

.fa-shopping-bag:before {
    content: "\f290";
}
.fa-filter:before {
    content: "\f0b0";
    font-size: 19px;
}
.fa-whatsapp:before {
    content: "\f232";
    font-size: 19px;
}

.Pop {
    display: flex;
    flex-direction: column;
    z-index: 300;
}
.Pop-Bottom-r { 
    position: fixed;
    right: 12px;
    bottom: 63px;
    align-items: flex-end;
}

.Button-Whatsapp {
    height: 40px;
    width: 50px;
    position: relative;

    animation-name: WhatsappAnimado;
    animation-duration: 5s;
    animation-timing-function: ease-in-out; 
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes WhatsappAnimado {
    0%     { transform: scale(1);}
    55%     { transform: scale(1);}
    65%     { transform: scale(0.9);}
    77%     { transform: scale(1.1);}
    87%     { transform: scale(0.9);}
    100%   { transform: scale(1); } 
}

.Pop-Pointer-Select { 
    position: absolute;
    left: calc(50% - 22.5px);
    top: calc(25% - 45px);
    align-items: flex-end;
}

/* creados para ejemplos de mas Pointer */
.Pop-Pointer-Select_2 { 
    position: absolute;
    left: calc(85% - 22.5px);
    top: calc(90% - 45px);
    align-items: flex-end;
}
/* creados para ejemplos de mas Pointer */
.Pop-Pointer-Select_3 { 
    position: absolute;
    left: calc(25% - 22.5px);
    top: calc(70% - 45px);
    align-items: flex-end;
}


/* Contiene la Animación y Tamaño de los Pointer Selector */
.Pointer-Select {
    height:45px;
    width: 45px;
    position: relative;

    animation-name: PointerAnimado;
    animation-duration: 5s;
    animation-timing-function: ease-in-out; 
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes PointerAnimado {
    0%     { transform: scale(1); opacity: 0.5;}
    55%     { transform: scale(1);}
    65%     { transform: scale(0.95);}
    77%     { transform: scale(1.05);}
    87%     { transform: scale(0.95);}
    100%   { transform: scale(1); } 
}

/* Contiene la Animación de la Manita de Ayuda */
.Hand_Animation {
    height:45px;
    width: 45px;
    position: absolute;
    opacity: 0;
    z-index: 600;

    animation-name: HandANimation;
    animation-duration: 3s;
    animation-timing-function: ease; 
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: inherit;
    animation-fill-mode: both;
    animation-play-state: running;
    transform-box: unset;
}
@keyframes HandANimation {

    0%      { left: calc(0% - 0px); top: calc(27% - 45px); opacity: 0; }
    40%     { left: calc(52% - 22.5px); top: calc(27% - 45px); transform: rotate(-50deg) ;opacity: 1; }
    75%     { left: calc(52% - 22.5px); top: calc(27% - 45px);opacity: 1; } 
    100%    { left: calc(0% - 0px); top: calc(27% - 45px);opacity: 0; }
}

.Pop-Pointer-Select_Help {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(70% - 45px);
    align-items: flex-end;  
}

/* Contiene la Animación de la Manita de Ayuda en la Modal */
.Hand_Animation_Help {
    height:45px;
    width: 45px;
    position: absolute;
    opacity: 0;
    z-index: 500;

    animation-name: HandAnimationhelp;
    animation-duration: 3s;
    animation-timing-function: ease; 
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: inherit;
    animation-fill-mode: both;
    animation-play-state: running;
    transform-box: unset;
}
@keyframes HandAnimationhelp {

    0%      { left: calc(0% - 0px); top: calc(50% - 18px); opacity: 0; }
    40%     { left: calc(56% - 22.5px); top: calc(50% - 18px); transform: rotate(-50deg) ;opacity: 1; }
    75%     { left: calc(56% - 22.5px); top: calc(50% - 18px);opacity: 1; } 
    100%    { left: calc(0% - 0px); top: calc(50% - 18px);opacity: 0; }
}


/* Animación Modal */ 
.fadeInDownModal {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: 800ms;
    animation-timing-function: ease; 
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: inherit;
    animation-fill-mode: both;
    animation-play-state: running;
}

@keyframes fadeInDownModal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.ArrowBack {
    height:30px;
    width: 30px;
}
.ArrowBack-Content {
    position: absolute;
    top: 12px;
    left: 12px;
    align-items: flex-end;
}

/* ************ */



.Card-Producto {
    border: none;
    border-radius: 0rem!important;
    box-shadow: 0 0 4px #00000015;
}
.Card-Footer {
    padding: 0rem;
    background: none;
    border: none;
    border-radius: 0rem;
}

/* .Card-Img { flex-shrink: 0; width: 100%; border-top-left-radius: 0rem !important; border-top-right-radius: 0rem !important; } */

/* Configuracion de Check de tallas */
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #138cad;
    background-color: var(--primary);
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -20px;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -20px;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.Select-Bag-Custom {
    display: inline-block;
    width: 100%;
    height: auto;  /* calc(1.5em + .75rem + 2px); */
    padding: 0rem 1.6rem 0rem .0rem;
    font-size: 0.95rem;
    font-weight: 800;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 0; 
    border-radius: 0; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:#fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.5rem center/8px 10px;
}

.Select-Bag-Custom:focus {
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(49, 179, 240, 0.109);
}

.Label-Bag {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0rem;
    width: 1vh;
    font-weight: 600;
}

.Margin-Contetn_Dinamic >* {
    margin: 0.35rem;
}


/* Sistema Grid para Ventana de Bag CheckOut */

.Grid-Content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    justify-items: stretch;
    align-items: stretch;
}
.Card-Product-Bag { grid-column: 1/3; }
.Card-Cost { grid-column: 3/4; }

@media screen and (max-width: 992px) {
   
    .Grid-Content .Card-Product-Bag {
        grid-column: 1 / 4;
    }

    .Grid-Content .Card-Cost   {
        grid-column: 1/-1;
    }
}

/* **************************** */

.Card-Product-Bag-CheckOut {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 0.75rem;

    justify-items: stretch;
    align-items: stretch;
}
.Card-Product-Bag-CheckOut > div:nth-child(1) {  grid-column: 1/3;  }
.Card-Product-Bag-CheckOut > div:nth-child(2) {  grid-column: span 5;  }

/* **************************** */





/* Trabajo con medias Querys Generales */

@media only screen and (max-width: 600px) {

.Outfits-List .Coles {
    padding-left: 5px;
    padding-right:5px;
    }
}

@media only screen and (min-width: 768px) {

    section .LoadMoreAssets {
        width: 30% !important;
        justify-content: center;
        }

    section .LoadMoreBorder  {
        width: 20% !important;
        justify-content: center;
        }
    .Card-Product-Bag-CheckOut > div > h4 { font-size: 20px!important  }
    .Card-Product-Bag-CheckOut > div > div > h3 { font-size: 27px!important  }
    }


@media only screen and (min-width: 1400px) {
    .Br-xl-None {
        display: none!important;
    }
}
    